

<div class="container-fluid">
    <h2 class="text-center">Add a new Quote</h2>
    <hr>
    <form (ngSubmit)='addNewQuote(); ' #qForm="ngForm">
        <div class="form-group">
  
            <label for="name">Enter Your Name:</label>
            <input type="text" required class="form-control" id="name" [ngModel]="quoty.author" name="name"
            #name="ngModel">
            <div *ngIf="name.invalid" class="alert alert-danger">
               Your name is required.
            </div>
  
        </div>

        <div class="form-group">
  
            <label for="description">Insert the Quote Here</label>
            <textarea class="form-control" id="the-quote" rows="4" required [ngModel]="quoty.quote" name="quote" #quote="ngModel"></textarea>
            <div *ngIf="name.invalid" class="alert alert-danger">
                Kindly Insert the quote.
             </div>
        </div>

        <div class="form-group">
            <label for="complete">Posted On:</label>
            <input type='date' id="complete" required [ngModel]="quoty.completeDate" name="complete" #complete="ngModel">
  
        </div>
        <button type="submit" class="btn btn-success">Add Quote</button>
    </form>
  </div>

